<div fxLayout="row" fxLayout.xs="column" class="base-background"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
<mat-card class="app-card">
  <mat-card-header>
    <div [class.mat-elevation-z5]="true" mat-card-avatar class="memes-header-image"></div>
    <mat-card-title>Memes</mat-card-title>
  <mat-card-subtitle>Get paid to laugh.</mat-card-subtitle>
    <div  fxLayout="row inline" fxLayoutAlign="right" fxLayoutGap="30.5%">
       <a class="fa fa-facebook-official fa-1x" href="https://www.facebook.com/memesappkenya"  target="_blank" ></a>
     <a class="fa fa-twitter-square fa-1x" href="https://twitter.com/yippeeeim"  target="_blank" ></a>
     <a class="fa fa-instagram fa-1x" href="https://www.instagram.com/memesappkenya"  target="_blank" ></a>
     <a class="fa fa-youtube fa-1x" href="https://www.youtube.com/channel/UCLU62G8GRkrNoIn4Dh3IZyw"  target="_blank" ></a>
</div>
  </mat-card-header>

  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/admob-app-id-5882008275.appspot.com/o/gurutouch-labs-website%2Fmeme_background.png?alt=media&token=2aac38b0-e4ab-4c7a-bf4c-80da18da52c1" alt="Photo of a Memes">
  <mat-card-content>
    <p  class="content-description">
     Post, view ,share, comment and laugh the best funny memes in your country. This app is a social media for Memes where you get <strong>paid</strong> to laugh at millions of Memes. Life can't get any better than that. Get the app and find out why we have a rating of <strong>4.9+</strong>.😀
    </p>
  </mat-card-content>
   <mat-card-actions>
    <a mat-button href="https://play.google.com/store/apps/details?id=com.gurutouch.kenneth.memes" target="_blank" >
       <img class="playstore-download-image" src="https://firebasestorage.googleapis.com/v0/b/admob-app-id-5882008275.appspot.com/o/gurutouch-labs-website%2Fplaystore.png?alt=media&token=edb59c4d-a837-4419-8279-f085aa27dc0c" alt="Download">
  </a>
  </mat-card-actions>
</mat-card>

<mat-card class="app-card">
  <mat-card-header>
    <div [class.mat-elevation-z5]="true" mat-card-avatar class="yippeee-header-image"></div>
    <mat-card-title>Yippeee</mat-card-title>
    <mat-card-subtitle>Texting made fun.</mat-card-subtitle>
    <div  fxLayout="row inline" fxLayoutAlign="right" fxLayoutGap="30.5%">
    <a class="fa fa-facebook-official fa-1x" href="https://www.facebook.com/yippeeeim"  target="_blank" ></a>
     <a class="fa fa-twitter-square fa-1x" href="https://twitter.com/yippeeeim"  target="_blank" ></a>
     <a class="fa fa-instagram fa-1x" href="https://www.instagram.com/yippeeeim"  target="_blank" ></a>
     <a class="fa fa-youtube fa-1x" href="https://www.youtube.com/channel/UCLU62G8GRkrNoIn4Dh3IZyw"  target="_blank" ></a>
</div>
  </mat-card-header>
 
  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/admob-app-id-5882008275.appspot.com/o/gurutouch-labs-website%2Fyippee_background.png?alt=media&token=77107341-9202-4fc3-b1ff-2c8373e0b0a7" alt="Photo of Yippeee">
  
  <mat-card-content>
    <p class="content-description">
 Messenging apps have become so boring thats why Yippeee makes it fun texting your friends by customizing the look and feel of your messages and also delivering the message as fast as possible. Get the app now and join the <strong>50,000+</strong> enjoying this awesome features.👍
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://apkgk.com/com.gurutouch.yolosms" target="_blank" >
       <img class="playstore-download-image" src="https://firebasestorage.googleapis.com/v0/b/admob-app-id-5882008275.appspot.com/o/gurutouch-labs-website%2Fplaystore.png?alt=media&token=edb59c4d-a837-4419-8279-f085aa27dc0c" alt="Download" >
  </a>
  </mat-card-actions>
</mat-card>
</div>