<mat-toolbar  [class.mat-elevation-z2]="true" class="base-background">
<mat-tab-group >
  <mat-tab color="primary" backgroundColor="primary">
    <ng-template mat-tab-label>
       <fa class="example-icon" name="facebook" animation=""></fa>
      Apps
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
       <fa class="example-icon" name="facebook" animation=""></fa>
      Team
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
       <fa class="example-icon" name="facebook" animation=""></fa>
      Third
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>
    
  </mat-toolbar>